<template>
  <div class="about pa-6 ma-2">
    <h1>About Vuetify Todo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aliquid illum distinctio assumenda, nesciunt ab ipsum ut accusantium et numquam impedit dolores, sunt laborum iusto. Tenetur ad quis in ipsa.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aliquid illum distinctio assumenda, nesciunt ab ipsum ut accusantium et numquam impedit dolores, sunt laborum iusto. Tenetur ad quis in ipsa.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aliquid illum distinctio assumenda, nesciunt ab ipsum ut accusantium et numquam impedit dolores, sunt laborum iusto. Tenetur ad quis in ipsa.</p>
  </div>
</template>
