<template>
  <div class="home">
    <v-text-field
      v-model="newTaskTitle"
      @click:append="addTask"
      @keyup.enter="addTask"
      class="pa-3"
      outlined
      label="Add Task"
      append-icon="mdi-plus"
      hide-details
      clearable
    >
    </v-text-field>

    <h2 class="text-h4 success--text pl-4 mb-1">
      Tasks:&nbsp;
      <v-fade-transition leave-absolute>
        <span :key="`tasks-${tasks.length}`">
          {{ tasks.length }}
        </span>
      </v-fade-transition>
    </h2>
    <v-divider class="mb-4"></v-divider>

    <v-row
      class="my-3 mx-1"
      align="center"
    >
      <strong class="mx-4 info--text text--darken-2">
        Remaining: {{ remainingTasks }}
      </strong>

      <v-divider vertical></v-divider>

      <strong class="mx-4 success--text text--darken-2">
        Completed: {{ completedTasks }}
      </strong>

      <v-progress-circular
        :value="progress"
        class="mr-2"
      ></v-progress-circular>
    </v-row>
    <v-divider class="mb-4"></v-divider>

    <v-list
      class="pt-0"
      two-line
    >
      <div
        v-for="(task, index) in tasks"
        :key="index"
      >
          <v-list-item
            @click="task.done = !task.done"
            :class="{ 'blue lighten-5': task.done}"
          >
            <template v-slot:default>
              <v-list-item-action>
                <v-checkbox
                  @click="task.done = !task.done"
                  v-model="task.done"
                  color="primary"
                ></v-checkbox>
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title
                  :class="{ 'text-decoration-line-through' : task.done}"
                >
                  {{ task.title }}
                </v-list-item-title>
              </v-list-item-content>

              <v-list-item-action>
                <v-btn 
                  @click.stop="deleteTask(index)"
                  icon
                >
                  <v-icon color="primary">mdi-delete</v-icon>
                </v-btn>
              </v-list-item-action>
            </template>
          </v-list-item>
        <v-divider></v-divider>
      </div>
    </v-list>
  </div>
</template>

<script>

  export default {
    name: 'Home',
    data() {
      return{
        snackbar: false,
        addTaskText: `Todo Item added to list`,
        newTaskTitle: '',
        tasks: [
          { id:1, title: 'Wake Up', done: false},
          { id:2, title: 'Get bananas', done: true},
          { id:3, title: 'Eat bananas', done: false},
        ]
      }
    },
    computed: {
      completedTasks () {
        return this.tasks.filter(task => task.done).length
      },
      progress () {
        return this.completedTasks / this.tasks.length * 100
      },
      remainingTasks () {
        return this.tasks.length - this.completedTasks
      },
    },
    methods:{
      addTask(){
        let newTask = {
          id: Date.now(),
          title: this.newTaskTitle,
          done: false
        }
        if(this.newTaskTitle !== ''){
          this.tasks.push(newTask)
          this.newTaskTitle = ''
        }
      },
      doneTask(index){
        this.tasks[index].done = !this.tasks[index].done
      },
      deleteTask(index){
        this.$delete(this.tasks, index)
      }
      
    }
  }
</script>